{% extends '::base.html.twig' %}

{% block body -%}

<div class="container">
    <h1>Lista zamówień</h1>
    <table  class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Czas</th>
                <th>Uzytkownik</th>
                <th>Dostawa</th>
                <th>Film</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('buy_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.czas %}{{ entity.czas|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.user.username }}</td>
                <td>{{ entity.user.address }}</td>
                <td>{{ entity.movie.nazwaFilmu }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('buy_show', { 'id': entity.id }) }}">Pokaz</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock %}
