{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <h1>Lista filmow</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Okładka</th>
                <th>Opis</th>
                <th>Tytuł</th>
                <th>Gatunek</th>
                
                <th>Lista aktorow</th>
                
                <th>Cena</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img src="{{ asset(entity.okladka.path) }}" style="height:100px"></td>
                <td>{{ entity.opisFilmu }}</td>
                <td>{{ entity.nazwaFilmu }}</td>
                <td>{{ entity.gatunekFilmu }}</td>
                
                <td>{{ entity.listaAktorow }}</td>
                
                <td>{{ entity.cenaFilmu }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-xs btn-primary" href="{{ path('_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    {# SPRAWDZANEI PRAW, dla testow zrobione, że zwykłdy użytkonik może usunąc/edytować #}
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a class="btn btn-xs btn-success" href="{{ path('buy_new', { 'id': entity.id }) }}">Zakup</a>
                    </li>
                    <li>
                        <a class="btn btn-xs btn-info" href="{{ path('_edit', { 'id': entity.id }) }}">Edytuj</a>
                    </li>
                {% endif %}
                </ul>
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
                {% if is_granted('ROLE_USER') %}
            <a class="btn btn-success" href="{{ path('_new') }}">
                Dodaj nowy film
            </a>
        {% endif %}

</div>
    {% endblock %}
