{% extends '::base.html.twig' %}

{% block body -%}
<div class="container">
    <table class="record_properties">
        <tbody>
            <tr>
                <th><h1>Film   </h1></th>
                <td><a class="btn btn-success" href="{{ path('buy_new', { 'id': entity.id }) }}">
                Wypożycz
                </a></td>
            </tr>    
        </tbody>
    </table>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th><h3>Nazwa filmu  </h3></th>
                <td><h3>{{ entity.nazwaFilmu }}</h3></td>
            </tr>
         
            <tr>
                <th>Okładka</th>
                <td><img src="{{ asset(entity.okladka.path|default('http://placehold.it/250x250')) }}" style="height:250px"></td>
            </tr>
             <tr>
                <th>Gatunek filmu  </th>
                <td>{{ entity.gatunekFilmu }}</td>
            </tr>
            <tr>
                <th>Opis filmu  </th>
                <td>{{ entity.opisFilmu }}</td>
            </tr>
            <tr>
                <th>Lista aktorów  </th>
                <td>{{ entity.listaAktorow }}</td>
            </tr>
            <tr>
                <th>Cena filmu</th>
                <td>{{ entity.cenaFilmu }},-</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <h1>Recenzje:</h1>
    {% for reflection in reflections %}
     <p> {{ reflection.text }} </p>
     <hr/>
 {% endfor %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>
            <ul style="list-style-type: none;">
            {# SPRAWDZANEI PRAW, dla testow zrobione, że zwykłdy użytkonik może usunąc/edytować #}
            {% if is_granted('ROLE_USER') %}
                <li>
                    <a <a class="btn btn-warning" href="{{ path('_edit', { 'id': entity.id }) }}">
                        Edit
                    </a>
                </li>
               {#} <li>{{ form(delete_form) }}</li>#}
            {% endif %} 
                <li>
                    <a <a class="btn btn-primary" href="{{ path('') }}">
                        Back to the list
                    </a>
                </li>
    </th>
</ul>
</tr>
</tbody>
    </table>
</div>
{% endblock %}
